@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.button{
    margin: 0 3px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 49px;
    cursor: pointer;
   font-weight: bold;
   width: 66px;
   color: white;
   font-size: larger;
   background-color: rgba(51, 41, 41, 0.964);

}
.button:hover{
    opacity: .5;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    width: 295px;
}
.yellow{
    background-color: rgb(255, 187, 0);
    color: black;
}
.red{
    background-color: red;
}
.container{
    background-color:rgba(0, 0, 0, 0.151);
    margin: auto;
    width: 20%;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px;
  
    
}
h1{
    background-color: rgb(255, 192, 2);
    margin: auto;
    width: 20.6%;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 8px 1px;
}
p{
   
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    font-family: 'La Belle Aurore', cursive;

}